@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

$primary: #0c2e60;
$secondary: #ff663b;

a {
  color: $primary !important;
}

h1, h2, h3, h4 {
  font-family: 'Martel Sans';
}

.title {
  color: $primary;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 30px;
  border-bottom: 2px solid #c8c8c8;
  margin-bottom: 30px;
}

.layout {
  height: 100vh;
}

.App {
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
  background-color: #fff;
  height: 100vh;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 90vw;
  padding: 30px 0;
}

.ant-row {
  width: 100%;
}

.ant-card {
  width: calc(100% - 20px) !important;
  margin: 0 10px;
  height: 350px;
}

.login-box {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: $secondary;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.login-form-register {
  font-family: 'Martel Sans';
  font-weight: 700;
  margin-bottom: 20px;
}

.login-box-footer {
  border-top: 1px solid #e9e9e9;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Martel Sans';

  ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 5px;

    li {
      margin: 0 10px;
      font-size: 15px;
    }
  }
}

.has-error .ant-form-explain {
  margin-top: 5px;
}

.header {
  background: #fff;
  border-radius: 5px;
  margin: 0 5%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;

    ul {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    li {
      font-family: 'Martel Sans';
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      padding: 15px;
      transition: .5s;

      i {
        margin-right: 5px;
      }
    }
  }
}

.ant-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Martel Sans';
}

.ant-card-cover img {
  border-radius: 10px 10px 0 0;
}